
#entrada {

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);


   font: bold 1.5em 'Trebuchet MS',Arial, Helvetica; 
   border: 1px solid #00195e;
   border-radius: 6px;
   padding: 45px 45px 20px;
   background-color: white;
   box-shadow: 0px 5px 10px #00195e, 0 0 0 10px #afb8cf inset;

} 

#entrada input {
padding: .2em;

}
#entrada label {
   display: block;
  margin: .5em 0 0 0;
}

#entrada h6 {
 font-size: 60%;
}
#entrada h5 {
 text-align: center;
}
