default/public/temp/*
sql/*
default/app/models/*
default/app/controllers/*
default/app/views/*
default/public/*
default/sicapmigrador/*

.gitignore

!default/app/controllers/10a.php

### ignore itself ###

### start section to detec your changes ###
### use ! to detect your changes ###
### example !deafult/app/controllers/new_controller.php to detect a new controller ###


### your changes here ###


### end section to detec your changes ###
