default/public/temp/*
sql/*
default/app/models/*
default/app/controllers/*
default/app/views/*
default/public/*
default/sicapmigrador/*

.gitignore

!default/app/controllers/10a.php
!default/app/controllers/00.php
