vendor

##### ignore automatic changes ####
default/public/temp/*
sql/*
default/app/models/*
default/app/controllers/*
default/app/views/*
default/public/*
default/sicapmigrador/*

# ignore itself
.gitignore

# start section to detec your changes
# use ! to detect your changes
# example !deafult/app/controllers/new_controller.php to detect a new controller

# your changes here

# end section to detec your changes 


*.log





# Mac filesystem dust
.DS_Store

# Vagrant
.vagrant

# Sonarlint
.sonarlint

#### Editors:

# Netbeans
/nbproject

# Visual Studio Code
.vscode

# Intellij
.idea

#sonar
.sonar
.scannerwork
sonar-project.properties
composer.lock
